.popular3{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 90vh;
    gap: 10px;
    margin-left: -9vh;
}   
.popular3 h1{
    color: black;
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 12px;
    margin-left: 8vh;
}
.popular3 hr{
    display: flex;
    align-items: center;
    border-radius: 10px;
    width: 205px;
    height: 6px;
    background: black;  
    margin-left: 95vh;
}
.items_popular3{
    gap: 8px;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-left: 18vh;
}